<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated kmehr -->
      <package
            uri="http://www.w3.org/2001/04/xmlenc#"
            class="org.w3._2001._04.xmlenc.XmlencPackage"
            genModel="model/kmehr.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated kmehr -->
      <parser
            type="xmlenc"
            class="org.w3._2001._04.xmlenc.util.XmlencResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated kmehr -->
      <package
            uri="http://www.w3.org/2000/09/xmldsig#"
            class="org.w3._2000._09.xmldsig.XmldsigPackage"
            genModel="model/kmehr.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated kmehr -->
      <parser
            type="xmldsig"
            class="org.w3._2000._09.xmldsig.util.XmldsigResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated kmehr -->
      <package
            uri="http://www.ehealth.fgov.be/standards/kmehr/schema/v1"
            class="be.fgov.ehealth.standards.kmehr.schema.kmehr.KmehrPackage"
            genModel="model/kmehr.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated kmehr -->
      <parser
            type="kmehr"
            class="be.fgov.ehealth.standards.kmehr.schema.kmehr.util.KmehrResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated kmehr -->
      <package
            uri="http://www.ehealth.fgov.be/standards/kmehr/id/v1"
            class="be.fgov.ehealth.standards.kmehr.id.id.IdPackage"
            genModel="model/kmehr.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated kmehr -->
      <parser
            type="id"
            class="be.fgov.ehealth.standards.kmehr.id.id.util.IdResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated kmehr -->
      <package
            uri="http://www.ehealth.fgov.be/standards/kmehr/cd/v1"
            class="be.fgov.ehealth.standards.kmehr.cd.cd.CdPackage"
            genModel="model/kmehr.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated kmehr -->
      <parser
            type="cd"
            class="be.fgov.ehealth.standards.kmehr.cd.cd.util.CdResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated kmehr -->
      <package
            uri="http://www.ehealth.fgov.be/standards/kmehr/dt/v1"
            class="be.fgov.ehealth.standards.kmehr.dt.dt.DtPackage"
            genModel="model/kmehr.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated kmehr -->
      <parser
            type="dt"
            class="be.fgov.ehealth.standards.kmehr.dt.dt.util.DtResourceFactoryImpl"/>
   </extension>

</plugin>
